# Auto detect text files and perform LF normalization
* text=auto
Datos[[:space:]]clase[[:space:]]2.zip filter=lfs diff=lfs merge=lfs -text
Datos[[:space:]]clase[[:space:]]3.zip filter=lfs diff=lfs merge=lfs -text
laser[[:space:]]gira[[:space:]]50gr[[:space:]]5V[[:space:]]disco[[:space:]]-[[:space:]]1200V[[:space:]]10V[[:space:]]0.035s[[:space:]]47kOmh[[:space:]]-[[:space:]]Daq.zip filter=lfs diff=lfs merge=lfs -text
laser[[:space:]]gira[[:space:]]50gr[[:space:]]5V[[:space:]]disco[[:space:]]-[[:space:]]1200V[[:space:]]10V[[:space:]]0.035s[[:space:]]47kOmh[[:space:]]-[[:space:]]Daq.ziplaser[[:space:]]gira[[:space:]]50gr[[:space:]]5V[[:space:]]disco[[:space:]]-[[:space:]]1200V[[:space:]]10V[[:space:]]0.035s[[:space:]]47kOmh[[:space:]]-[[:space:]]Daq.zip filter=lfs diff=lfs merge=lfs -text
[200~ filter=lfs diff=lfs merge=lfs -text
laser[[:space:]]gira[[:space:]]50gr[[:space:]]5V[[:space:]]disco[[:space:]]-[[:space:]]1200V[[:space:]]10V[[:space:]]1s[[:space:]]47kOmh[[:space:]]-[[:space:]]Daq[[:space:]]2.zip filter=lfs diff=lfs merge=lfs -text
laser[[:space:]]gira[[:space:]]50gr[[:space:]]5V[[:space:]]disco[[:space:]]-[[:space:]]1200V[[:space:]]10V[[:space:]]1s[[:space:]]47kOmh[[:space:]]-[[:space:]]Daq.zip filter=lfs diff=lfs merge=lfs -text
Datos[[:space:]]procesados.zip filter=lfs diff=lfs merge=lfs -text
